/*
colors used

text color - #000000
primary color - #faf0e6
link color - #8b008b
	link once clicked - #191970
menu link color - #191970
*/

html {
	background-color: #faf0e6;
}

body {
	font-family: 'lora', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
}

header {
	font-size: 18px;
	line-height: 1.6;
}

main {
	font-size: 16px;
	line-height: 1.6;
}

footer {
	font-size: 18px;
	line-height: 1.6;
}

a {
	color: #8b008b;
}

a:visited {
	color: #191970;
}

a:hover {
	text-decoration: none;
	color: #191970;
}

a:focus {
	text-decoration: none;
	color: #191970;
}

a:active {
	/* selected link */
	color: #000000;
}

button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #64798c;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: .2s opacity;
	-o-transition: .2s opacity;
	transition: .2s opacity;
}

.button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #64798c;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: .2s opacity;
	-o-transition: .2s opacity;
	transition: .2s opacity;
}

.button_secondary {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #64798c;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: .2s opacity;
	-o-transition: .2s opacity;
	transition: .2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.button_secondary:hover,
.button_secondary:focus {
	cursor: pointer;
	opacity: 0.8;
}

.button_secondary {
	background-color: #64798c;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none;
}

.profile_portrait {
	width: 250px;
	height: auto;
	margin-right: 40px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.profile {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid black;
}

.page-header_item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.Website-logo {
	display: inline-block;
	width: 125px;
	height: 50px;
}

.page-header_item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.whole-grid {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-rows: 300px 20px 300px;
	grid-template-rows: repeat(2, 300px);
	grid-gap: 20px;
}

.grid > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.grid > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.grid > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.grid > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.grid > *:nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.grid > *:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

.grid_item {
	background-color: lightgray;
	min-height: 300px;
}

.main-content {
	text-align: center;
	padding: 20px;
}

table {
	margin-right: auto;
	margin-left: auto;
}

@media all and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid{
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}
	.grid_item:last-child {
		grid-column: auto/auto;
		grid-row:  auto/auto;
	}
	h1 {
		font-size: 22px;
	}
}

@-webkit-keyframes color-change {
	from {
		fill: #edc655;
	}
	to {
		fill: #f76414;
	}
}

@keyframes color-change {
	from {
		fill: #edc655;
	}
	to {
		fill: #f76414;
	}
}

.sun {
	-webkit-animation: 4s color-change infinite alternate linear;
	        animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(400px, 50px);
		        transform: translate(400px, 50px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(400px, 50px);
		        transform: translate(400px, 50px);
	}
}

.cloud-front {
	-webkit-animation: 25s cloud-move infinite alternate linear;
	        animation: 25s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

.cloud-back {
	-webkit-animation: 34s cloud-move-reverse infinite alternate linear;
	        animation: 34s cloud-move-reverse infinite alternate linear;
}